<h1 class="centered fancy">Dashboard</h1>
<div id="welcome">
  <h2 id="welcome-message">Welcome to the Inventory System</h2>

  <p>
  You have  <%= SalesItem.count(:all) %> items defined in the system.
  </p>

  <p>
  The <span id="average" class="bold-blue">average</span> price of a sales item is $<%= number_with_precision(SalesItem.average(:price), precision: 2) %>.
  </p>

</div>

<p class="description" id="description" >
The average is the sum divided by the count.
</p>

