// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bold-blue {
font-weight:700;
color:blue;
text-decoration:underline;
}

h1.centered {
text-align:center;
}

h1.fancy {
color:#006400;
text-decoration:underline;
}

div#welcome {
text-align:center;
margin-left:auto;
margin-right:auto;
border:1px solid blue;
width:40%;
padding:10px;
}

p#description {
visibility: hidden;
text-align:center;
font-size:14pt;
color:green;
}

.code {
font-family:courier, monospace;
color:#006400;
}

#homework-instructions {
margin-top:40px;
margin-left:auto;
margin-right:auto;
width:50%;
background-color:lightgray;
border:2px solid #00008B;
padding:20px;
}

#header {
background-color:#1E90FF;
font-size:16pt;
padding:20px;
}

#header a {
color:#FFF;
}

#header a:hover {
color:#FF0;
background-color:#1E90FF;
}

body {
background-color:#fff;
color:#333;
font-family:verdana, arial, helvetica, sans-serif;
font-size:13px;
line-height:18px;
}

p,ol,ul,td {
font-family:verdana, arial, helvetica, sans-serif;
font-size:13px;
line-height:18px;
}

pre {
background-color:#eee;
font-size:11px;
padding:10px;
}

a {
color:#000;
}

a:visited {
color:#666;
}

a:hover {
color:#fff;
background-color:#000;
}

div.field,div.actions {
margin-bottom:10px;
}

#notice {
color:green;
}

.field_with_errors {
background-color:red;
display:table;
padding:2px;
}

#error_explanation {
width:450px;
border:2px solid red;
margin-bottom:20px;
background-color:#f0f0f0;
padding:7px 7px 0;
}

#error_explanation h2 {
text-align:left;
font-weight:700;
font-size:12px;
background-color:#c00;
color:#fff;
margin:-7px -7px 0;
padding:5px 5px 5px 15px;
}

#error_explanation ul li {
font-size:12px;
list-style:square;
}

table {
width:50%;
box-shadow:10px 10px 5px #888;
border:1px solid #000;
border-collapse:collapse;
-moz-border-radius-bottomleft:0;
-webkit-border-bottom-left-radius:0;
border-bottom-left-radius:0;
margin:0;
padding:0;
}

td,th {
border:1px solid #000;
}