<!DOCTYPE html>
<html>
<head>
  <title>JavscriptIntro</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <h1>Inventory Manager</h1>
  <a href="/">Dashboard</a>
  <a href="/sales_items">Sales Items</a>
  <a href="/categories">Categories</a>
</div>
<%= yield %>

</body>
</html>
